# Environment & Keys
.env
data/credentials/token.json
data/credentials/credentials.json

# Data & Database
# (We are committing these so the live demo works instantly)
# data/vector_store/
# *.faiss
# *.pkl

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# OS
.DS_Store
.idea/
.vscode/
